*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

.App{
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/images/bg-intro-desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 100%, 74%);
  opacity: 1;
  z-index: -1;
  overflow: hidden;
}

@media (max-width:480px) {
  .App{
    background-image: url('./assets/images/bg-intro-mobile.png');
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .App::after{
    height: 140%;
  }
}